.card {
  position: relative;
  width: 22.5vw;
  height: 55vh;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 60px;
  &-invisible {
    display: none;
  }
  &-darkWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color:#000;
    opacity: 0.1;
    width: 100%;
    height: 100%;
  }
  &-center {
    order: 1;
    align-self: flex-end;
  }
  &-left {
    order: 0;
  }
  &-right {
    order: 2;
  }
  .card__photo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .card__name {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
  }
  .card__email {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    .email__icon {
      margin-right: 10px;
    }
    .email__text {
      color: #949494;
      font-weight: 400;
    }
  }
}