button {
  border: none;
  background-color: transparent;
}

button:focus {
  border: none;
  outline: none;
}

.carousel {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 15vh;
  .carousel__content {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 1%;
    justify-items: center;
    align-items: center;
    .carousel__btn {
      width: 50px;
      height: 50px;
      font-size: 50px;
      cursor: pointer;
      transition: all .1s linear;
      &-left {
        justify-self: right;
      }
      &-right {
        justify-self: left;
      }
      &:hover {
        color: #ffffff;
      }
      &-disabled {
        opacity: 0.2;
        cursor: auto;
        &:hover {
          color: initial;
        }
      }
    }
  }
}