.App {
  display: grid;
  grid-template-rows: 10vh 1fr;
  height: 100vh;
  .content {
    display: grid;
    grid-template-rows: 1fr 15vh;
    background: url("./assets/bg.jpg");
    background-size: cover;
  }
}